name: Run benchmark
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group:
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run-benchmark:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: "1.23"
      - name: Install aria2 (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y aria2
      - name: Install aria2 (macOS)
        if: matrix.os == 'macos-latest'
        run: brew install aria2
      - name: Install aria2 (Windows)
        if: matrix.os == 'windows-latest'
        run: choco install aria2

      - name: Run the benchmark
        run: python benchmark.py --iteration 3 --aria2c --surge
